{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block body %}

    <form id="create-post-model" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form|crispy }}
        {#        <label for="post-content">Content:</label>#}
        {#        <textarea id="post-content" name="post-content" rows="4" required></textarea>#}
        {#        <br>#}
        {#        <label for="post-image">Image:</label>#}
        {#        <input type="file" id="post-image" name="post-image">#}
        {#        <br>#}
        {#        <img id="image-preview" src="" alt="Image Preview" style="max-width: 300px; display: none;">#}
        <button class="primaryAction btn btn-primary" type="submit">Create Post</button>
    </form>
{% endblock body %}