{% extends "base.html" %}
{% load crispy_forms_filters %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card">
                    <div class="card-header">
                        <h1 class="text-center">Edit Profile</h1>
                    </div>
                    <div class="card-body">
                        <form method="post">
                            {% csrf_token %}
                            {#                            {{ form.non_field_errors }}#}
                            <div class="form-group">
                                {{ form|crispy }}
                                <button class="primaryAction btn btn-primary" type="submit">Save</button>
                                <a class="button secondaryAction btn btn-secondary"
                                   href="{% url 'profiles:profile-list' %}">Cancel</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}

